@* Le decimos que la vista ya no va a ser fuertemente tipada, se deja debilmente tipada
@model Lista<ObjetoEscuelaBase>
*@

<table>
    <thead class="table table-dark table-hover">
    <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Id</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var obj in Model)
    {
        <tr>
            <td>@obj.Nombre</td>
            <td>@obj.Id</td>
        </tr>
    }
    </tbody>
</table>